@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
    ::-webkit-scrollbar-thumb{
    background: #181819;
    border-radius: lepx;
    }
    ::-webkit-scrollbar-thumb:hover {
    background:  #6556cd ;
    border-radius: l0px;
    }